span {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid lightblue;
  background-color: beige;
  text-transform: capitalize;
}
p {
  font: 3em sans-serif italic;
}
* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.row {
  display: flex;
  padding: 5px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
header {
    width: 100px;
}